.Projects {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
#Project-section {
    background-color: white;
    padding-bottom:50px;
}
#Project-section > h2 {
    color: var(--text-blue);
    margin: 0;
    text-align: center;
    padding: 50px;
    font-size: 3rem;
}