.Project-card {
    overflow:hidden;
    background-color: #fff;
    color:rgba(0,0,0,0.87);
    margin:20px;
    max-width:325px;
    display:inline-block;
    border-radius:4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
.Project-image {
    display:block;
    width:100%;
}
img {
    width:100%;
    height:150px;
    display:block;
}
.Project-description {
    padding:16px;
}
.Project-description > p {
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.54);
}
.Project-action {
    padding:8px;
    align-items:center;
    display:flex;
}
.Project-action > a {
    padding:8px 11px;
    color:#6D1B1B;
    
}
.Project-description > h2 {
    margin-top:0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}