.navbar {
  display:flex;
  justify-content:space-around;
  align-items:center;
  color:var(--main-color);
}
.navbar-list {
  padding:0;
  display:flex;
  justify-content: space-evenly;
  width:100%;
  list-style-type: none;
  align-items: center;
    
}
.navbar-list > li {
  display:inline-block;
  padding:0 10px;
  margin:0 30px;
  transition:transform 0.3s ease 0s;
}
.navbar-list > li:hover {
  transform: translate3d(0px,-4px,0px);
  color: var(--gradient-main);
}
.navbar-list > img {
  width:50px;
  height:auto;
}


a {
  text-decoration: none;
  color:inherit;
  font-weight: 500;
  font-size:1rem;
}

 
  