.Footer {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:white;
    font-weight:500;
    font-size:1rem;
    background-color: var(--main-color);
    border-top: 2px solid lightgray;
    height:20vh;

}


