#Summary {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
#Summary > img {
  max-height:100%;
  height:auto;
  width:300px;
  max-width:100%;
}


#title {
    margin-bottom:1.125rem;
    margin-top:-1rem;
    font-size:4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    padding:0;
    color:#FAF0F6;
}
#subtitle {
    font-size: 2rem;
    font-weight: 200;
    color: white;
    margin:0;
    padding:0 25px;
    text-align:center;
}

/* Skills section */

.box {
  display:flex;
  justify-content: center;
  padding:0 30px;
  border-radius: 4px;
  align-items: stretch;
  flex-wrap:wrap;
}
.box div:first-child {

  border-left:1px solid #E6ECF8;
}
p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.box-item {
  flex:1 1 0;
  padding: 50px 30px;
  border-top:1px solid #E6ECF8;
  border-bottom: 1px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
  text-align: center;
  color:var(--text-blue);
}
img.is-skill-icon {
  height:48px;
  width:auto;
  margin:0 auto 1rem;
}

 .Cards {
   display:flex;
   justify-content:space-around;
   background-color:var(--main-color);
   margin: 60px 30px;
   flex-wrap: wrap;
   padding:60px;
   border-radius:25px;
 }
 .Paper {
   background-color:white;
   display:flex;
   width: 350px;
   height:auto;
   box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
   border-radius:4px;
 }
 .Paper-title {
   padding:9px;
   font-weight:400;
   font-size:2rem;
   text-align:center;
   color:var(--text-blue);;
   font-weight: 500;
   font-family:'Raleway';
 }
.section-heading {
  color: white;
  margin: 0;
  text-align: center;
  padding: 50px;
  font-size: 3rem;
  color:var(--text-blue);
}
 
 .skill-list {
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   padding:0;
   flex-wrap:wrap;
 }
 .skill-item {
   display:inline-block;
   width:auto;
   padding:9px;
   font-size:1.2rem;
   min-width:80px;
   margin: 0 6px 8px 0;
   list-style: none;
   background-color:#f3ed3f;
   border-radius:0.75rem;
   text-align:center;
 }



/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background: #415a5f;
    color:white;
  }
  
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 3rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 3rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  

