:root {
  --main-color:#7510F7;
  --complimentary-color:#E1F812;
  --sec-complimentary-color:#47F812;
  --main-white:#F5EEFE;
  --sec-white:#EBDDFE;
  --sec-platinum:#EAEBEA;
  --text-blue:#141c3a;
  --dark-purple:#33204f;
  --contact-section:#415a5f;
  --gradient-main:#BF99F0;

  font-size:16px;
}

* {
  
  box-sizing: border-box;
}

/*
  --button-color:#1d5b61c7;
  --dark-purple:#201920;
  --main-gray: #303841;
  --blue-text:#c2ceea;
  --contact-background:#1e1f1f;
  */

body, html {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  /*background-image: linear-gradient(45deg, #070010 25%, var(--main-color) 100%);*/
}

::-webkit-scrollbar {
  width:6px;
  border-left: 1px solid #E6ECF8;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #5F00DA;
}
